/*

* {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

html, body {
  background-color: black;
  height: 100%;
  margin: 15px;
}

.wrapper {
  height: 100%;
  overflow-y: auto;
}

.row-item {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-shrink: 0;
}

*/

/*
.md-button {
  padding: 0 6px 0 6px;
  margin: 10px 10px 10px 10px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  -webkit-text-fill-color: darkblue !important;
  border: white;
  outline: none;
}
*/

.text-area {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  width: 100%
}



.row-card {
  margin: 25px;
  height: 100%;
  background-color: darkgrey;
  -webkit-text-fill-color: darkblue;
  max-width: 400px;
}

.big-card {
  margin: 50px;
  height: 100%;
  background-color: dimgrey;
  -webkit-text-fill-color: darkblue;
  max-width: 600px;
}

.date-picker {
  color: #0C69B0;
}

.uppercase {
  text-transform: uppercase;
}

.exxon-gray {
  color: darkgrey;
}

.abbrev {
  font-weight: 400;
}

.align-bottom {
  align-items: baseline;
}
